.delivery-planner {
    display: flex;
    height: 100vh;
  }
  .map-container {
    flex: 2;
    height: 100%;
  }
  .requests-container {
    flex: 1;
    padding: 10px;
    background: #f4f4f4;
  }
  